<!DOCTYPE html>
<html>
<head>
  <script type="text/javascript"src="https://maps.googleapis.com/maps/api/js?key=#{ENV['API_KEY']}"></script>
  <script type="text/javascript" src="/javascripts/jquery.js"></script>
  <script src="/javascripts/Chart.js"></script>
  <link rel="stylesheet" href="/stylesheets/css.css" type="text/css" />
  <script type="text/javascript" src="/javascripts/beermapjson.js"></script>
  <script type="text/javascript" src="/javascripts/beermapjson18percent.js"></script>
  <script type="text/javascript" src="/javascripts/beermapjson16percent.js"></script>
  <title>Sort by abv.</title>
</head>
<body >
  <h1>Sort by abv.</h1>
  <div id="buttons" style="text-align: center;">
    <button class="btn1" data-abv="20">20%</button>
    <button class="btn1" data-abv="18">18%</button>
    <div class="container">
      <div class="slider">
        <input id="abvslider" type ="range" min="0" max="50" onchange="rangevalue.value=value;"/>
        <output id="rangevalue">25</output>
        <button class="btn1" data-abv="rangevalue" style="display: none;"></button>
      </div>
    </div>
    <button class="btn1" data-abv="12">12%</button>
    <button class="btn1" data-abv="10">10%</button>
  </div>

  <div id="map-canvas"></div>

  <script type="text/javascript" src="/javascripts/myjavascript.js"></script>

</body>

</html>