
/* CSS Document */
body {
  background-size: 100%;
}

@font-face {
    font-family: 'chunkfiveroman';
    src: url('/fonts/chunkfive-webfont.eot');
    src: url('/fonts/chunkfive-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/chunkfive-webfont.woff') format('woff'),
         url('/fonts/chunkfive-webfont.ttf') format('truetype'),
         url('/fonts/chunkfive-webfont.svg#chunkfiveroman') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
  font-family: 'chunkfiveroman', Fallback, sans-serif;
}

h1 {
  font-size: 70px;
  text-align: center;
  margin-right: 150px;
  margin-bottom: 0px;
}


.row ul li {
  display: inline;
  padding: 20px;
}

.row ul {
  text-align: center;
}

.row a{
  text-decoration: none;
}

a {
  font-size: 2em;
  text-align: center;
}

h1 {
  margin-right: 200px;
  margin-top: 0px;
}

#map-canvas {
  width: 60%;
  min-height: 300px;
  margin-left: 235px;
  border-radius: 20px;
  box-shadow: 5px 5px 5px #888888;
  /*transition:margin-left 2s;*/
  /*transition: all 2s;*/


}
/*#map-canvas:hover {
  margin-left: 240px;
  margin-top: 5px;
  box-shadow: 0px 0px 0px #888888;

  /*transition: all 1.2s;*/
  /*transition:margin-left 2s;*/
/*}*/


.btn1{

   width: 200px;
   height: 60px;
   border:3px solid #1ABC9C;
   background-color: #f1efec;
   outline: none;
   font-size: 17px;
   color:#1ABC9C;
   text-transform: uppercase;
   font-family: 'Montserrat', sans-serif;
   margin-top: 0px;
   margin-right: 30px;
   -webkit-transition: 0.7s;
   -moz-transition: 0.7s;
   -ms-transition: 0.7s;
   -o-transition: 0.7s;
   transition: 0.7s;
}

.btn1:hover{
      background-color: #16A085;
      border:none;
      color:white;
      -webkit-transition: 1s;
      -moz-transition: 1s;
      -ms-transition: 1s;
      -o-transition: 1s;
      transition: 1s;
}

/*#mySecondChart {
 position: center;
  margin-top: 110px;
  margin-right: 0px;
  width: 300px;
  height: 300px;
}*/